{% extends 'base.html' %}

{% block title %}
    {% if edit_mode %}
        Edit Application: {{ app_name }}
    {% else %}
        Add New Application
    {% endif %}
{% endblock %}

{% block content %}
<h2>{% if edit_mode %}Edit Application{% else %}Add New Application{% endif %}</h2>

<form method="POST" id="app-discovery-form">
    {{ form.hidden_tag() }}

    <h3>Application Overview</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.app_overview.app_name.label }}<br>
            {{ form.app_overview.app_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.app_desc_full.label }}<br>
            {{ form.app_overview.app_desc_full(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.app_type.label }}<br>
            {{ form.app_overview.app_type(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.app_version.label }}<br>
            {{ form.app_overview.app_version(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.app_age.label }}<br>
            {{ form.app_overview.app_age(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.app_complexity.label }}<br>
            {{ form.app_overview.app_complexity(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.app_support.label }}<br>
            {{ form.app_overview.app_support(class_="form-control") }}
        </div>
    </div>

    <h3>Business Details</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.app_overview.business_details.business_owner.label }}<br>
            {{ form.app_overview.business_details.business_owner(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.business_details.business_purpose.label }}<br>
            {{ form.app_overview.business_details.business_purpose(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.business_details.business_criticality.label }}<br>
            {{ form.app_overview.business_details.business_criticality(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.business_details.business_impact.label }}<br>
            {{ form.app_overview.business_details.business_impact(class_="form-control") }}
        </div>
    </div>

    <h3>Application Meta</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.app_overview.application_meta.number_of_users.label }}<br>
            {{ form.app_overview.application_meta.number_of_users(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.application_meta.release_freq.label }}<br>
            {{ form.app_overview.application_meta.release_freq(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.application_meta.work_hours_stand.label }}<br>
            {{ form.app_overview.application_meta.work_hours_stand(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.application_meta.planned_reg_downtime.label }}<br>
            {{ form.app_overview.application_meta.planned_reg_downtime(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_overview.application_meta.documentation.label }}<br>
            {{ form.app_overview.application_meta.documentation(class_="form-control") }}
        </div>
    </div>

    <h3>Application Stakeholders</h3>
    <div class="form-row">
        {% for stakeholder_form in form.app_stakeholders %}
            <div class="form-group">
                {{ stakeholder_form.stakeholder_name.label }}<br>
                {{ stakeholder_form.stakeholder_name(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ stakeholder_form.contact_type.label }}<br>
                {{ stakeholder_form.contact_type(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ stakeholder_form.business_unit.label }}<br>
                {{ stakeholder_form.business_unit(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ stakeholder_form.department.label }}<br>
                {{ stakeholder_form.department(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ stakeholder_form.number.label }}<br>
                {{ stakeholder_form.number(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ stakeholder_form.email.label }}<br>
                {{ stakeholder_form.email(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ stakeholder_form.position.label }}<br>
                {{ stakeholder_form.position(class_="form-control") }}
            </div>
        {% endfor %}
    </div>

    <h3>Business Capability Model</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.app_bus_cap_model.capability_model.label }}<br>
            {{ form.app_bus_cap_model.capability_model(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_bus_cap_model.front_office.label }} {{ form.app_bus_cap_model.front_office }}
        </div>
        <div class="form-group">
            {{ form.app_bus_cap_model.back_office.label }} {{ form.app_bus_cap_model.back_office }}
        </div>
        <div class="form-group">
            {{ form.app_bus_cap_model.middle_office.label }} {{ form.app_bus_cap_model.middle_office }}
        </div>
    </div>

    <h3>Application Operation</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.app_operation.high_availability.label }} {{ form.app_operation.high_availability }}
        </div>
        <div class="form-group">
            {{ form.app_operation.disaster_recovery.label }} {{ form.app_operation.disaster_recovery }}
        </div>
        <div class="form-group">
            {{ form.app_operation.rto.label }}<br>
            {{ form.app_operation.rto(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.app_operation.rpo.label }}<br>
            {{ form.app_operation.rpo(class_="form-control") }}
        </div>
    </div>

    <h3>Servers</h3>
    <div id="server-information-list" class="form-row">
    {% for server_form in form.server_information %}
    <div class="server-information">
        <div class="form-group">
            {{ server_form.environment.label }}<br>
            {{ server_form.environment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.hostname.label }}<br>
            {{ server_form.hostname(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.role.label }}<br>
            {{ server_form.role(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.platform_type.label }}<br>
            {{ server_form.platform_type(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.shared_or_dedicated.label }}<br>
            {{ server_form.shared_or_dedicated(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.os.label }}<br>
            {{ server_form.os(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.os_features.label }}<br>
            {{ server_form.os_features(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.cpu.label }}<br>
            {{ server_form.cpu(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.ram.label }}<br>
            {{ server_form.ram(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.os_disk_gb.label }}<br>
            {{ server_form.os_disk_gb(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.data_disk_count.label }}<br>
            {{ server_form.data_disk_count(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.shared_data_store.label }}<br>
            {{ server_form.shared_data_store(class_="form-control") }}
        </div>
        
        <!-- Network Information now part of Servers -->
        <!-- <h4>Server Network Information</h4>-->
        <div class="form-group">
            {{ server_form.network_environment.label }}<br>
            {{ server_form.network_environment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.network_hostname.label }}<br>
            {{ server_form.network_hostname(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.network_name.label }}<br>
            {{ server_form.network_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.subnet.label }}<br>
            {{ server_form.subnet(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ server_form.ip_address.label }}<br>
            {{ server_form.ip_address(class_="form-control") }}
        </div>
    </div>
    {% endfor %}
</div>

<button type="button" id="add-server-button" class="btn btn-primary">Add Another Server</button>


    <h3>Interfaces</h3>
    <div id="interface-information-list" class="form-row">
        {% for interface_form in form.interfaces %}
        <div class="form-group">
            {{ interface_form.source_app.label }}<br>
            {{ interface_form.source_app(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ interface_form.target_app.label }}<br>
            {{ interface_form.target_app(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ interface_form.direction.label }}<br>
            {{ interface_form.direction(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ interface_form.frequency.label }}<br>
            {{ interface_form.frequency(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ interface_form.mechanism.label }}<br>
            {{ interface_form.mechanism(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ interface_form.trigger.label }}<br>
            {{ interface_form.trigger(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ interface_form.bandwidth.label }}<br>
            {{ interface_form.bandwidth(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ interface_form.protcol.label }}<br>
            {{ interface_form.protcol(class_="form-control") }}
        </div>
        {% endfor %}
    </div>
    <button type="button" id="add-interface-button" class="btn btn-primary">Add Another Interface</button>

    <h3>Web System Information</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.web_system.environment.label }}<br>
            {{ form.web_system.environment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.internet_access.label }}<br>
            {{ form.web_system.internet_access(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.external_access.label }}<br>
            {{ form.web_system.external_access(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.web_server.label }}<br>
            {{ form.web_system.web_server(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.public_ips.label }}<br>
            {{ form.web_system.public_ips(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.authentication.label }}<br>
            {{ form.web_system.authentication(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.authorization.label }}<br>
            {{ form.web_system.authorization(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.load_balanced.label }}<br>
            {{ form.web_system.load_balanced(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.url.label }}<br>
            {{ form.web_system.url(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.web_system.certificate.label }}<br>
            {{ form.web_system.certificate(class_="form-control") }}
        </div>
    </div>

    <h3>Database Information</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.database.db_type.label }}<br>
            {{ form.database.db_type(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.environment.label }}<br>
            {{ form.database.environment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.hostname.label }}<br>
            {{ form.database.hostname(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.instance_ownership.label }}<br>
            {{ form.database.instance_ownership(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.os.label }}<br>
            {{ form.database.os(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.database_platform.label }}<br>
            {{ form.database.database_platform(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.version.label }}<br>
            {{ form.database.version(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.auth_type.label }}<br>
            {{ form.database.auth_type(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.instance_name.label }}<br>
            {{ form.database.instance_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.service_account_name.label }}<br>
            {{ form.database.service_account_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.data_classification.label }}<br>
            {{ form.database.data_classification(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.database.data_sovereignty.label }}<br>
            {{ form.database.data_sovereignty(class_="form-control") }}
        </div>
    </div>

    <h3>Operations - Performance Indicators</h3>
    <div class="form-row">
        <div class="form-group">
            {{ form.performance.high_availability.label }} {{ form.performance.high_availability }}
        </div>
        <div class="form-group">
            {{ form.performance.ha_type.label }}<br>
            {{ form.performance.ha_type(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.performance.business_health.label }}<br>
            {{ form.performance.business_health(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.performance.shared_service_list.label }}<br>
            {{ form.performance.shared_service_list(class_="form-control") }}
        </div>
    </div>

    
    

    <p>{{ form.submit(class_="btn btn-primary") }}</p>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var inputs = document.querySelectorAll('input, textarea, select');
        
        inputs.forEach(function(input) {
            if (input.value.trim() === '') {
                input.style.border = "2px solid red";
            }
        });

        document.getElementById('app-discovery-form').addEventListener('submit', function(event) {
            var incompleteFields = [];
            var allComplete = true;

            inputs.forEach(function(input) {
                if (input.value.trim() === '') {
                    input.style.border = "2px solid red";
                    incompleteFields.push(input.name);
                    allComplete = false;
                } else {
                    input.style.border = "";
                }
            });

            if (!allComplete) {
                var confirmSubmit = confirm('Some fields are incomplete. Do you still want to submit?');
                if (!confirmSubmit) {
                    event.preventDefault();
                }
            }
        });
    });
</script>

{% endblock %}
